<head>

<title>Tony Lam - Student at Helsinki High School of Natural Sciences</title>
  <meta name="description" content="Tony Lam, Student at Helsinki High School of Natural Sciences / Helsingin luonnontiedelukio. Helsinki, Finland">
  <meta name="google-site-verification" content="cAT5UxLaXXqk-OWYkb1ed1_Vd16ChoGDFvOb6bXlnT0" />




  <script src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@3.0.1/src/glowCookies.min.js"></script>
  <script>
      glowCookies.start('en', { 
          analytics: 'UA-162980675-3',
          hideAfterClick: true,
          policyLink: 'http://www.whatarecookies.com/',
          customScript: [{ type: 'custom', position: 'head', content: `(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PQQD3GB');` }],
          bannerDescription: 'Accept non-essential cookies?',
          acceptBtnBackground: '#1F45FC',
        });
  </script>
  

  <!-- Default Statcounter code for Tonylam.tk
https://tonylam.tk -->

  <!-- End of Statcounter Code -->
  
  <!-- microsoft -->

  <!-- microsoft -->

<!--Start of Tawk.to Script-->

  <!--End of Tawk.to Script-->

  <!--Simple analytics-->

  <!--Simple analytics-->

<!-- Cloudflare Web Analytics --><!-- End Cloudflare Web Analytics -->

<!-- Leadfeeder -->

<!-- Leadfeeder -->


</head>

<body>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQQD3GB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


</body>