<head>

<title>Tony Lam - Student at Helsinki High School of Natural Sciences</title>
  <meta name="description" content="Tony Lam, Student at Helsinki High School of Natural Sciences / Helsingin luonnontiedelukio. Helsinki, Finland">
  <link rel="canonical" href="https://tonylam.tech" />
  <meta name="google-site-verification" content="cAT5UxLaXXqk-OWYkb1ed1_Vd16ChoGDFvOb6bXlnT0" />




  <!-- Default Statcounter code for Tonylam.tk
https://tonylam.tk -->
<script type="text/javascript">
  var sc_project=12236473; 
  var sc_invisible=1; 
  var sc_security="bcc85c48"; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="Web Analytics"
  href="https://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="https://c.statcounter.com/12236473/0/bcc85c48/1/"
  alt="Web Analytics"></a></div></noscript>
  <!-- End of Statcounter Code -->
  
  <!-- microsoft -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "44bir5axrz");
</script>
  <!-- microsoft -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5f7b6625f0e7167d0016612e/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->

  <!--Simple analytics-->
  <script async defer src="https://simple.tonylam.tech/latest.js"></script>
  <noscript><img src="https://simple.tonylam.tech/noscript.gif" alt=""/></noscript>
  <!--Simple analytics-->

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "c437cd82b87c4e5abcb3ddd3d1380272"}'></script><!-- End Cloudflare Web Analytics -->

<!-- Leadfeeder -->
<script>
  (function(){

    window.ldfdr = window.ldfdr || {};
    (function(d, s, ss, fs){
      fs = d.getElementsByTagName(s)[0];

      function ce(src){
        var cs  = d.createElement(s);
        cs.src = src;
        setTimeout(function(){fs.parentNode.insertBefore(cs,fs)}, 1);
      }

      ce(ss);
    })(document, 'script', 'https://sc.lfeeder.com/lftracker_v1_DzLR5a5eqbxaBoQ2.js');
  })();
</script>
<!-- Leadfeeder -->

<!-- Osano cookie notice-->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<!--Osano cookie notice end-->

</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#237afc"
      },
      "button": {
        "background": "#fff",
        "text": "#237afc"
      }
    },
    "theme": "classic",
    "position": "bottom-left",
    "content": {
      "href": "/privacy"
    }
  });
  </script>


</body>