<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />


<head>

<title>Tony Lam - Student at Helsinki High School of Natural Sciences / Helsingin luonnontiedelukio</title>
  <meta name="keywords" content="Tony Lam, Tony, Lam, Vantaa, Helsinki, Espoo, Veromäen koulu, Hellu, Helsingin luonnontiedelukio, Helsinki High School of Natural Sciences, student, ">
  <meta name="description" content="Student at Helsinki High School of Natural Sciences / Helsingin luonnontiedelukio.">


</head>